.content {
    width: 98%;
    margin: auto;
    text-align: left;
}

.tags{
    width: 100%;
    height: 180px;
    margin: 10px auto;
    position: relative;
}

.tags-des h1{
    font-size:28px;
}

.tags textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 30px 5px 0 5px;
    font-size: 20px;
    display: block;
    background: #e7edfe;
    border-radius: 10px;
    outline: 0;
    border: 0;
    resize: none;
}

.tags textarea::-webkit-scrollbar {
    display: none;
}

.tags textarea::selection {
    background: rgba(255, 63, 58, 0.22);
}

.tags button {
    padding: 2px 7px;
    /* color: #080808;
    border-color: #ff3f3a; */
    color: #fff;
    background: #ff3f3a;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
}

/* .tags button:hover {
    color: #fff;
    background: #ff3f3a;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border: 0;
    outline: 0;
} */